.assetsOverview {
    .my-masonry-grid {
        margin-top: 20px;
        display: flex;
        margin-left: -30px;
        width: auto;
    }

    .title {
        border-bottom: 2px solid var(--color-border);
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        padding: 10px 20px 20px 20px;
    }

    .list {
        margin-bottom: 10px;

        .listItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding: 0 20px;
            cursor: pointer;

            .leftSide {
                display: flex;
                align-items: center;

                img {
                    width: 24px;
                    margin-right: 10px;
                }

                span {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .rightSide {
                color: var(--color-text-3);
            }
        }
    }

    :global {
        .my-masonry-grid_column {
            padding-left: 30px;
            background-clip: padding-box;
            min-width: 300px;
        }

        .my-masonry-grid_column>div {
            margin-bottom: 30px;
        }
    }
}